.Main-container {
    background-color: var(--primary);
    padding: 0px;
    height: 130px;
    display: flex;
    justify-content: space-between;
}

img {
    width: 200px;
    padding-left: 30px;
}


/*Menu home - profile*/

nav ul {
    //lista
    display: flex;
    align-items: center;
    gap: 60px;
    height: calc(100% - var(--header-h));
    list-style: none;
    padding-right: 50px;
    transition: .3s;
}

nav ul li a {
    //enlace a home
    text-decoration: none;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    color: black;
    transition: .2s;
    display: flex;
    align-items: center;
}

nav ul li a:hover {
    color: var(--cream);
    border-radius: 999px;
}

#top-right-menu {
    display: flex;
    align-items: center;
}

.profile-pic {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-pic button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.profile-pic img.avatar {
    width: 66px;
    height: 66PX;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--phover);
    padding: 6px;
    display: block;
}

.dropdown {
    position: absolute;
    top: calc(100% + 8px);
    min-width: 160px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
}


.dropdown .name {
  font-weight: 700;
  margin-bottom: 8px;
}

.dropdown button {
  width: 100%;
  border: 0;
  background: transparent;
  text-align: left;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown button:hover {
  background: rgba(0,0,0,.06);
}