* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
}

.searchbar-positioning {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 80%;
}

.search-img-container {
  background: white;
  border: 1px solid black;
  width: 60%;
  display: flex;
  border-radius: 999px;
}

#search-bar {
  border: none;
  outline: none;
  width: 100%;
  border-radius: 999px;
  padding: 12px 12px;
}

.lupa {
  //Imagen Lupa Search Bar
  border-radius: 99px;
  width: 30px;
  opacity: .5;
  padding-right: 10px;
}

.filters-container {
  width: 60%;
}

a {
  text-decoration: none;
}

#restaurants-container {
  //Container con h2 incluido
  align-items: center;
  display: flex;
  flex-direction: column;
}

.head-comidas {
  //Div contenedor del h2 Restaurantes
  padding-bottom: 15px;
  width: 80%;
}

.restaurants-list {
  width: 80%;
  border: 2px solid lightgray;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  overflow: hidden;
  align-items: start;
  margin-bottom: 100px;
}
