* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-center {
    min-height: calc(80vh + 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


//Container de volver al menu
.back-to-menu-btn { 
    width: 100%;
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
}

.back-to-menu-btn button {
    background-color: var(--primary);
    border-radius: 99px;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: .2s;
    cursor: pointer;
}
.back-to-menu-btn button:hover {
    background-color: var(--phover);
}

:host-context(.theme-dark) .back-to-menu-btn button {
    background-color: var(--d-cream);
    color: #f4f2e8;
    transition: 1s;
}


:host-context(.theme-dark) .back-to-menu-btn button:hover {
    background-color: var(--d-primary);
    color: #f4f2e8;
    transition: 1s;
}

.back-to-menu-btn img {
    width: 40px;
}
////////////////////////////

.produc-data-btns {
    width: 100vw;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

/*CONTENEDORES DE PRODUCTOS*/
.product-data-container {
 
    background-color: var(--cream);
    display: flex;
    width: 60%;
    min-height: 500px;
    border: 2px solid black;
    border-radius: 50px;

}

:host-context(.theme-dark) .product-data-container, :host-context(.theme-dark) .product-name-descrip {
    background-color: var(--d-primary);
}

/*IMAGE*/
.product-img-container {
    width: 50%;
    max-height: 100%;
    border-right: 2px solid black;
    border-radius: 50px;
}

.product-img-container img {
    width: 100%;
    min-height: 100%;
    border-radius: 50px;
    object-fit: cover;
}
/**/

//Contenedor de textos. Nombre, descripcion, precio y descuento.
.product-name-descrip {
    width: 50%;
    min-width: 0;
    border-radius: 50px;
    padding: 20px;
    padding-top: 60px;
    gap: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--cream);
}

.product-name-descrip h2,
.product-name-descrip p{
  max-width: 100%;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.featured-sign {
    margin: 20px 0px;
}

.featuredProduct {
    text-align: center;
    padding: 10px 20px;
    font-size: 1.5em;
    font-weight: 700;
    border-radius: 99px;
    background-color: var(--d-featured);
}

:host-context(.theme-dark) .featuredProduct {
    background-color: var(--d-featured);
    color: #f4f2e8;
    transition: 1s;
}

.product-price-discount { 
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-self: flex-end;
    align-items: center;
    gap: 10px;
    padding-right: 30px;
    font-size: 1.5em;
}

.tachado {
  text-decoration: line-through;
  opacity: 0.6;
}

.product-price-discount span {
    background-color: var(--d-hh);
    padding: 5px 20px;
    border-radius: 20px;
}

:host-context(.theme-dark) .product-price-discount span {
    background-color: var(--d-hh);
}

.owner-options {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
}
.owner-options button {
    height: 5em;
    width: 10em;
    border-radius: 12px;
    background-color: var(--primary);
    transition: .6s;
    cursor: pointer;
    font-size: 1em;
}

:host-context(.theme-dark) .owner-options button {
  background-color: var(--d-pill);
  color: white;
  cursor: pointer;
}

:host-context(.theme-dark) .owner-options button:hover {
  background-color: var(--d-primary);
}

.owner-options button:hover {
    background-color: var(--phover);
}

.owner-options button.hh-active {
  background-color: var(--phover);
  border: 2px solid black;
  box-shadow: 0 0 0 3px rgba(0,0,0,0.15);
}


:host-context(.theme-dark) .owner-options button.hh-active {
  background-color: var(--d-primary);
  border: 2px solid black;
  box-shadow: 0 0 0 3px rgba(0,0,0,0.15);
}
