* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.category-pill {
  padding: 8px 16px;
  border-radius: 20px;
  background-color: var(--primary);
  transition: all 0.2s ease;
  font-weight: 700;
  transition: .5s;
  cursor: pointer;
}

:host(.selected) .category-pill {
  background-color: var(--phover);
  box-shadow: 0 0 0 1.5px rgba(0, 0, 0, .8);
}

.category-pill:hover {
  background-color: var(--phover);
  cursor: pointer;
}

:host-context(.theme-dark) .category-pill {
  background-color: var(--d-pill);
  color: #f4f2e8;
  transition: 1s;
}

:host-context(.theme-dark) .category-pill:hover {
  background-color: var(--d-primary);
  color: #f4f2e8;
  transition: .5s;
}

:host-context(.theme-dark) :host(.selected) .category-pill {
  background-color: var(--d-primary);
  box-shadow: 0 0 0 1.5px rgba(0, 0, 0, .8);
}