* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-center {
    height: 100vh;
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
}

