.item-container {
    display: flex;
    align-items: center;
    gap: 20px;
    
    min-height: 150px;
    max-height: 150px;
    padding: 10px;
    border: 1px solid lightgray;
    transition: .4s;
    cursor: pointer;
}

/* Dark*/
:host-context(.theme-dark) .item-container {
  background-color: var(--dark-restaurant-item);     
  color: #f4f2e8;
  transition: 1s;
}

:host-context(.theme-dark) .item-container:hover {
    background-color: var(--d-cream);
    box-shadow: 4px 8px 5px 0px rgba(0, 0, 0, 0.75);
}


.item-container:hover {
    background-color: var(--d-phover);
    box-shadow: 4px 8px 5px 0px rgba(0, 0, 0, 0.75);
}

.restaurant-info-container {
    width: 90%;
    height: 150px;
    max-height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

//////////////////////////////////////////////
.restaurant-info-container h3,
.restaurant-info-container p {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 0;
    line-height: 1.2;
    overflow: hidden;
}

.restaurant-info-container h3 {
    max-height: 45px;
    height: 45px;
}

.restaurant-info-container p {
    max-height: 100px;
    height: 100px;
}

//////////////////////////////////////////////

.img-container {
    width: 150px;
    height: 150px;
    flex: 0 0 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-self: center;
}

.img-logo-restaurant {
    //imagen de restaurant
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

.svg-text {
    overflow-wrap: anywhere;
    word-break: break-word;
}