* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex; 
}

.flex-center {
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--header-h));
    background-image: url("/categorias-form-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


// New Category Page Styles
form {
    border: 5px solid rgba(0, 0, 0, 0.398);
    width: 25%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: lightgray;
    color: black;
}

h1 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    background-color: var(--primary);
}

.data-input-container {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}

.data-input-container input {
    width: 50%;
    height: 30px;
}

.btn-newcat {
    display: flex;
    justify-content: center;
}

.btn-newcat button {
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 150px;
    border-radius: 99px;
    border: none;
    background-color: var(--primary);
    transition: .3s;
    cursor: pointer;
}
.btn-newcat button:hover {
    background-color: var(--phover);
    box-shadow: 1px 5px rgba(0,0,0,0.5);
}