.flex-center {
    height: 100vh;
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-general {
    border: 2px solid black;
    background-color: var(--primary);
    width: 400px;
    height: 60%;
    padding: 30px;
}
 
.image-center { //Contenedor para centrar imagen tenedor/cuchillo
    height: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image-border { //Contenedor de imagen tenedor/cuchillo
    border: 2px solid black;
    border-radius: 99px;
    background-color: var(--cream);
    width: 25%;
    display: flex;
    justify-content: center;
}
    .image-border img { //TENEDOR/CUCHILLO IMG
        width: 60px;
    }


//Contenedor de form general/completo
.content-container {
    height: 80%;
    color: var(--cream);
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-credentials { //Container de divs de input ---> Hijo de form 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
}

.user-input { //Contenedor de inputs/img
    width: 70%;
    display: flex;
    justify-content: center;
    background-color: var(--cream);
    border: 1px solid black;
    border-radius: 99px;
}

input {
    background-color: var(--cream);
    padding: 15px;
    border-radius: 99px;
    border: none;
    outline: none;
}

input::placeholder { 
    font-size: 20px;
}

a,p {
    font-size: 17px;
    margin-bottom: 20px;
}