@font-face {
  font-family: 'bqfont';
  src: url('/assets/fonts/BurgerQueen.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {

    //Colores light-mode
    --primary: #e82020;
    --phover: #e16f6f;
    --cream: #f0f0dd;
    --secondary: #e2e4d1;
    --bgwhite: #f0ebe1;
    --d-hh: rgb(237, 164, 38);
    --d-hhprice: #db3210;
    --d-featured: rgb(187, 223, 23);

    --bqfont: 'bqfont', sans-serif; 
    --font-sans: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --nexa: "nexa", sans-serif;

    --header-h: 130px;
}

body.theme-dark {
    --dark-restaurant-item: rgb(57, 52, 50);
 
    --d-primary: #740c0c;
    --d-phover: #1e1b1b;
    --d-cream: #404039;
    --d-pill: #581414;
    --d-product: #2d2525;
    
    --d-restaurant-page-bg: #2f2828;
    --d-hh: rgb(180, 101, 21);
    --d-featured: rgb(168, 150, 44);

    --bqfont: 'bqfont', sans-serif;
    --font-sans: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --nexa: "nexa", sans-serif;

    --header-h: 130px;
}


body {
    font-family: var(--font-sans);
    margin: 0;
}

.swal-popup {
    background-color: var(--cream);
    border: 1px solid black;
}

.swal-title {
    color: var(--primary);
    font-size: 1.5em;
}

.swal-confirm {
    background-color: var(--primary);
    color: white;
}

body.theme-dark .swal-popup {
  background: #111;
  color: #fff;
  border: 1px solid white;
}